version: '3.8'

services:
  osrl:
    build: .
    image: osrl:latest
    container_name: OSRL
    volumes:
      - .:/workspace
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    stdin_open: true
    tty: true
    working_dir: /workspace
    network_mode: host